                                                            ?column?                                                             
---------------------------------------------------------------------------------------------------------------------------------
(54 filas)

SELECT setval('gestiontime.cliente_id_seq', (SELECT MAX(id) FROM gestiontime.cliente));
