version: 2

services:
  - type: web
    name: gestiontime-api
    runtime: docker
    plan: starter
    region: frankfurt
    branch: main
    buildCommand: docker build -t gestiontime-api .
    startCommand: dotnet GestionTime.Api.dll
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:$PORT